*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url(./download2.jpg);
    background-size: cover;
    
}
nav{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
    margin-top: 20px;
  
}
nav .logo h1{
   padding: 10px;
  
}
nav .menu{
    width: 40%;
    
    display: flex;
    justify-content: space-around;
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
 width: 100%;
 height: 85vh;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;


}

nav .menu a:hover{
    transition: all 0.3s;
    color: orange;
     transform: scale(1.5);
}

section h3{
    font-size: 55px;
    font-weight: 700;
   text-shadow: 2px 1px 5px black;
   text-transform: uppercase;
   margin: 30px 0 20px 0;
}

section h1{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section .btnone{
    /*background-color: #00b894;*/
    color: #00b894;
    transform: scale(1.5);
}
section .btntwo{
    background-color: #00b894;
    transform: scale(1.5);
    color: #fff;;
}

section .btnone:hover{
    color: white;
    background-color: #00b894;
    box-shadow: 0 0 50px #00b894
                  0 0 50px #00b894
                  0 0 50px #00b894
                  0 0 50px #00b894;
    border-radius: 5px;
}

.btn{
    margin: 0 20px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    overflow: hidden;
    transition: .5s;
}

.btn:hover{
    color: #fff;
    border-radius: 5px;
}

.btn span{
    position: absolute;
    display: block;
} 

.btn-blue{
    color: #03e9f4;
    border: 3px solid #03e9f4;
   
    
   
}
.btn-blue:hover{
    background-color:#03e9f4 ;
    box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
}

.btn-blue span:nth-child(1){
    background-color: linear-gradient(90deg,transparent,#03e9f4);
}



.btn-blue span:nth-child(2){
    background-color: linear-gradient(180deg,transparent,#03e9f4);
}


.btn-blue span:nth-child(3){
    background-color: linear-gradient(270deg,transparent,#03e9f4);
}


.btn-blue span:nth-child(4){
    background-color: linear-gradient(360deg,transparent,#03e9f4);
}

.btn-lime{
    color: lime;
    border: 3px solid lime;
   
    
   
}
.btn-lime:hover{
    background-color:lime ;
    box-shadow: 0 0 5px lime,
                    0 0 25px lime,
                    0 0 50px lime,
                    0 0 100px lime;
}

.btn-lime span:nth-child(1){
    background-color: linear-gradient(90deg,transparent,lime);
}



.btn-lime span:nth-child(2){
    background-color: linear-gradient(180deg,transparent,lime);
}


.btn-lime span:nth-child(3){
    background-color: linear-gradient(270deg,transparent,lime);
}


.btn-lime span:nth-child(4){
    background-color: linear-gradient(360deg,transparent,lime);
}

.btn-red{
    color: #F5B7B1;
     border: 3px solid #F5B7B1;
     
}

.btn-red:hover{
    background-color:#F5B7B1 ;
    box-shadow: 0 0 5px #F5B7B1,
                    0 0 25px #F5B7B1,
                    0 0 50px #F5B7B1,
                    0 0 100px #F5B7B1;
}

.btn-red span:nth-child(1){
    background-color: linear-gradient(180deg,transparent,#F5B7B1);
}



.btn-red span:nth-child(2){
    background-color: linear-gradient(270deg,transparent,#F5B7B1);
}


.btn-red span:nth-child(3){
    background-color: linear-gradient(360deg,transparent,#F5B7B1);
}


.btn-red span:nth-child(4){
    background-color: linear-gradient(90deg,transparent,#F5B7B1);
}

.btn-yellow{
    color: yellow;
    border: 3px solid yellow;
   
    
   
}
.btn-yellow:hover{
    background-color:yellow ;
    box-shadow: 0 0 5px yellow,
                    0 0 25px yellow,
                    0 0 50px yellow,
                    0 0 100px yellow;
}

.btn-yellow span:nth-child(1){
    background-color: linear-gradient(90deg,transparent,yellow);
}



.btn-yellow span:nth-child(2){
    background-color: linear-gradient(180deg,transparent,yellow);
}


.btn-yellow span:nth-child(3){
    background-color: linear-gradient(270deg,transparent,yellow);
}


.btn-yellow span:nth-child(4){
    background-color: linear-gradient(360deg,transparent,yellow);
}

.btn span:nth-child(1){
    top: 0;
    left: 0; 
    width: 100%;
    height: 2px;
    background-color: linear-gradient(90deg,transparent,#03e9f4);
    
}

@keyframes btn-anim1 {
    0%{
        left: -100%;
    }  
    50% , 100%{
        left: 100%;
    }
}
